!!! Strict 
%html 
  %head 
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'} 
    %title= sprint.release_name
    %style{:type => "text/css", :media => "screen"}
      :plain
        p,div,h1,h2,h3,h4,h5,h6,span,a {font-family: Arial}
        div#release_doc {padding-left: .5em;}
        h2, h3 {padding: .5em 0;}
        h3 {text-decoration: underline;}
        div#release_doc {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          text-align: left;
        }
        div#chores, div#bugs, div#stories{ padding-left: 0.6em }
        div.item {padding-left: .4em}
        div.item_info {padding-left: .4em}
  %body
    #doc 
      #info
      - path= PivotalDoc::Generators::Base::TEMPLATE_PATH
      - if sprint.current?
        %p= Haml::Engine.new(File.read(path + '/sprint.haml')).render(Object.new, {:sprint=>sprint})
      - else
        %p= Haml::Engine.new(File.read(path + '/release.haml')).render(Object.new, {:sprint=>sprint})
        